.parent-tooltip {
  position: absolute;
  z-index: 999;
  background-color: #3f3f3f;
  padding: .5em;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  max-width: 350px;
  width: 30%;
  height: 250px;
  overflow-y: scroll;
}
#vernaTip.swaggerwanker: {
  position: fixed;
  z-index: 999;
  background-color: red;
  padding: .5em;
  border-radius: 10px;
  font-weight: bold;
  color: red;
}
.article-content {
  background-color: red !important;
}
